/* CSS started */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body part */
body {
  background-color: white;
}
/* main part */
main {
  max-width: 1320px;
  margin: 0 auto;
}
p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.black {
  color: black;
}

/*  section-01 start here */
.section-01 {
  background-image: url("./resources/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px 0px;
}
.section-01-h3 {
  font-size: 32px;
}
.section-01 > div {
  height: 600px;
  vertical-align: middle;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.section-01 > div > h3 {
  color: #fff;
  font-family: "Merriweather";
  font-style: normal;
}
.section-01 > div > h1 {
  color: #fff;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  line-height: 95px;
  width: 600px;
  margin: 0 auto;
}
/*section-1 end here */
h1 {
  font-size: 72px;
}
h2 {
  font-size: 48px;
}



/*section-2 start here */

.section-02 {
  text-align: center;
}
.section-02 > h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.section-02 > h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section-02 > h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}
.section-02 img {
  width: 802.9px;
  margin: 0 auto;
}
h4 {
  font-size: 24px;
}
/* section-02 end here */

/* section-03 start here */

.section-03 {
  margin-top: 100px;
  background-image: url("./resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  border-radius: 15px;
}
.section-03 > div {
  border-radius: 15px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  width: 1300px;
  height: 610px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  vertical-align: middle;
  
}
.section-03 > div > div {
  display: flex;
  
  align-items: self-start;
  flex-direction: column;
  gap: 30px;
  width: 642px;
}
.section-03 p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: Inter;
}
.section-03 h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Merriweather";
}

.section-03 button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.5s;
}
.section-03 button:hover{
  background-color:  red;
}
.section-03 img {
  width: 319.83px;
  height: 464.662px;
}
/* section-03 end  here*/
/* section-04 start here */
.section-04 {
  margin-top: 100px;
  font-family: "Inter";
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  padding: 80px 0px;
  text-align: center;
}
.section-04 h3 span {
  color: #f00;
}

.section-04 h3 {
  line-height: 56px;
}
.section-04 button {
  padding: 16px 32px;
  color: #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 46px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.section-04 button:hover{
  background-color: #04AA6D;
  color: white;
}
/* section-04 end here */

/* section-05 start here */
.section-05 {
  margin-top: 100px;
  font-family: Inter;
  display: grid;
  grid-template-columns: 393px 30% 276px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.section-05 > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: self-start;
}
.section-05 h4 {
  color: #f00;
}
.section-05 p {
  color: rgba(7, 2, 17, 0.6);
  font-weight: 400;
}
.section-05 > div > div > img {
  border: 10px solid red;
  width: 463px;
  height: 463px;
  border-radius: 50%;
  padding: 20px;
  margin-left: -105px;
}
.round-img{
transition-duration: 1s;
}
.round-img:hover{
border: none;
}
.section-05-h2 {
  color: #f00;
}
/* section-05 end here */

/* section-06 start here*/
.section-06 {
  margin-top: 100px;
  
}
.section-06 h4 {
  font-family: Inter;
  text-align: center;
  margin-bottom: 16px;
}
.section-06 h1 {
  color: #f00;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin-bottom: 28px;
  font-family: Merriweather;
}
.section-06 p {
  width: 1068px;
  margin: 0 auto;
  color: rgba(7, 2, 17, 0.6);
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  font-family: Inter;
  margin-bottom: 70px;
}


.background-footer {
  background-image: url("./resources/Rectangle\ 2.png");
  background-repeat: no-repeat;
  /* background: ; */
  width: 1320px;
  height: 662px;
  display: flex;
  /* padding: auto; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* margin: 50px 0px; */
  /* height: 90%;
  z-index: 2; */

  align-items: safe;
 /* animation-fill-mode: forwards; */
 /* align-content: center; */
/* flex-direction: row; */
  background-position: bottom;
/* right: 10px; */
/* -moz-box-align: center; */
}
/* .discount{
  border: none;
} */
.girl{
  /* width: 429px;
  height: 433px; */
  /* flex-shrink: 0; */
  /* gap: 10px; */
}
.box{

}



/* section-06 end here */

/* section-07 start here */
.section-07 {
  margin-top: 100px;
}
.section-07 article {
  width: 896px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-07 h4 {
  color: #f00;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section-07 h2 {
  color: #070211;
  font-family: Merriweather;
  font-weight: 900;
  text-transform: capitalize;
}
.section-07 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
}
.section-07 > div {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 428px 428px 428px;
  justify-content: space-between;
  gap: 15px;
}
.section-07 .gallery-img {
  text-align: center;
  width: 428px;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
}
.section-07 > div > div > img {
  transition: 1s ease-in;
  cursor: pointer;
}
.section-07 > div > div > img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in;
}
/* section-07 end here */

/* section-08  start here */
.section-08 {
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
  margin-top: 100px;
}

.section-08 h2 {
  color: #070211;
  margin-bottom: 22px;
  margin-top: 22px;
  text-align: center;
  font-family: Merriweather;
  font-weight: 900;
  text-transform: capitalize;
}
.section-08 p {
  width: 896px;
  margin: 0 auto;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}
.section-08 form {
  font-family: Inter;
  width: 648px;
  margin: 0 auto;
  height: 72px;
  display: flex;
  align-items: center;
}
.section-08 form input {
  border-radius: 50px 0 0 50px;
  width: 400px;
  background: #fff;
  padding: 25px 30px;
  border: none;
}
.section-08 form button {
  background: red;
  border: none;
  padding: 18px 30px;
  font-size: 24px;
  border-radius: 0px 50px 50px 0px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.subscribe-btn{
transition-duration: 0.5s;
}
.subscribe-btn:hover{
background-color: #04AA6D;
}
/* section-08 end here */

/* foter section start here */
footer {
  background: #070211;
  color: white;
  font-family: Inter;
  margin-top: 100px;
}
footer h4 {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
footer section {
  max-width: 1320px;
  margin: 0 auto;
}

.footer-div-01{
  display: flex; 
  align-items: center; 
  gap: 10px
}
footer > section > div {
  height: 150px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}
footer section hr {
  background: rgba(255, 255, 255, 0.046);
  width: 1320px;
  height: 1px;
}
.fb-btn{
 transition-duration: 1s;
 
}
.fb-btn:hover{
 background-color: lightseagreen;
box-shadow: #aa6d04;
border-radius: 50%;
border: none;
}
.ins-btn{
 transition-duration: 1s;
}
.ins-btn:hover{
  background-color: rgb(113, 113, 118);
box-shadow: #aa6d04;
border-radius: 50%;
}
.x-btn{
 transition-duration: 1s;
}
.x-btn:hover{
  background-color: rgb(126, 18, 69);
  box-shadow: #aa6d04;
  border-radius: 50%;
}
.in-btn{
  transition-duration: 1s;
}
.in-btn:hover{
  background-color: rgb(210, 51, 30);
  box-shadow: #aa6d04;
  border-radius: 50%;
}
hr{
  color:#342f2f ;
}
footer > section > article {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 150px;
  align-items: center;
  vertical-align: middle;
}

/* footer part ended */

